@model XWordsUrkAdminConsole.Models.Word

@{
    ViewBag.Title = "Edit Word";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 class="modal-title">Word Details: </h3>
</div>

<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <p align="right" style="vertical-align:central"><b>Word:</b></p>
            </div>
            <div class="col-md-5 col-xs-10">
                <input class="form-control input-sm" type="text" value="@Model.TheWord"  required />
            </div>
            <div class="col-md-1 col-xs-2">
                <p align="right" style="vertical-align:central"><b>State:</b></p>
            </div>
            <div class="col-md-2 col-xs-4">
                <button id="stateBtn" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" style="width:100%;">State <span class="caret"></span></button>
                <ul id="statesList" class="dropdown-menu">
                    @foreach (var e in Enum.GetValues(typeof(XWordsUrkAdminConsole.Models.WordState)))
                    {
                        <li><a href="#">@e.ToString()</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-1 col-xs-2">
                <p align="right" style="vertical-align:central"><b>ID:</b></p>
            </div>
            <div class="col-md-2 col-xs-4">
                @Model.Id
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <p align="right" style="vertical-align:central"><b>Area:</b></p>
            </div>
            <div class="col-md-2 col-xs-4">
                <button id="areaBtn" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" style="width:100%; height:100%">Area<span class="caret"></span></button>
                <ul id="areaList" class="dropdown-menu">
                    @foreach (var e in Enum.GetValues(typeof(XWordsUrkAdminConsole.Models.WordArea)))
                    {
                        <li><a href="#">@e.ToString()</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-1 col-xs-2">
                <p align="right" style="vertical-align:central"><b>Compl:</b></p>
            </div>
            <div class="col-md-2 col-xs-4">
                <button id="areaBtn" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" style="width:100%; height:100%">Area<span class="caret"></span></button>
                <ul id="areaList" class="dropdown-menu">
                    @foreach (var e in Enum.GetValues(typeof(XWordsUrkAdminConsole.Models.WordComplexity)))
                    {
                        <li><a href="#">@e.ToString()</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-1 col-xs-2">
                <p align="right" style="vertical-align:central"><b>Modified:</b></p>
            </div>
            <div class="col-md-5 col-xs-10">
                <input class="form-control input-sm" type="text" readonly value="@Model.LastModified.ToString("yyyy/MM/dd hh:mm:ss")" />
            </div>
        </div>
        <hr />
        <div>
            <h4>Clues:</h4>
            <div class="table-responsive">
                <table id="clues-data-table" class="table table-bordered table-hover table-striped responsive" style="width:100%;"></table>
            </div>
            <hr />
        <div>
            <h4>Definition: </h4>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#previewDescTab" data-toggle="tab">Preview</a></li>
                <li><a href="#editDescTab" data-toggle="tab">Edit</a></li>                
            </ul>
            <div class="tab-content" style="width:100%; padding:5px">
                <div class="tab-pane active" id="previewDescTab">
                    <div id="wordDefView">@Html.Raw(Model.Definition)</div>
                </div>
                <div class="tab-pane" id="editDescTab" style="width:100%">
                    <textarea id="wordDefEdit"  class="form-control" rows="3" placeholder="Type definitio here">@Model.Definition</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
    <button class="btn btn-success" data-dismiss="modal">Save &amp; Close</button>
</div>
