@model IEnumerable<XWordsUrkAdminConsole.Models.EventsFeedModel>

@foreach (var e in Model)
{
    <div class="panel" style="width:90%">
        <div class="row">
            <div class="col-md-1">
                <span class="avatar marg-top-s" style="background-color:@XWordsUrkAdminConsole.Accounting.AuthModule.GetAvatarColor(e.User.Initials)">@e.User.Initials</span>
            </div>    
            <div class="col-md-10" style="margin-left:3px">
                <p style="color:darkgray;">@e.User.Login - @e.TimeAgoRepresentation</p>
                <span @Html.Raw(e.IconTagDetails)></span> @Html.Raw(@e.EventRepresentation)
            </div>
        </div>
    </div>
}
