@model XWordsUrkAdminConsole.Models.DashboardData

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9" style="height:90vh; overflow-y:scroll">
        <div class="row">
            <h1>CrosswordsUkr Admin Console</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Words: @Model.TotalWords</h4>
                    </div>
                    <div class="card-block">
                        <canvas id="dash-words-states"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Clues: @Model.TotalClues</h4>
                    </div>
                    <div class="card-block">
                        <canvas id="dash-clues-states"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Games: @Model.TotalGames</h4>
                    </div>
                    <div class="card-block">
                        <canvas id="dash-games-states"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" >
        <div style="height:100px; margin-top:5px">
            <canvas id="activity-chart" class="chartjs-render-monitor"></canvas>
        </div>
        <h3>Recent events:</h3>
        <div style="height:90vh; overflow-y:scroll">            
            <div id="recent-events-list" class="list-group">

            </div>
            <button class="btn btn-default center-block" style="position:center" onclick="OnLoadMoreFeedClick();">Load more...</button>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/scripts/chart.js")

    <script type="text/javascript">
        var feedEventsLoaded = 0;
        var feedsEventsToLoad = 20;

        function OnLoadMoreFeedClick() {
            var feed = { count: feedsEventsToLoad, skipFirstN: feedEventsLoaded };

            $.ajax({
                data: JSON.stringify(feed),
                dataType: "html",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("GetEventsFeed", "Home")",
                success: function (htmlData) {
                    $("#recent-events-list").append(htmlData);
                    feedEventsLoaded += feedsEventsToLoad;
                },
                error: function (fData) {
                    $("#recent-events-list").append("<div class=\"panel\"><b>Failed to load feed</b></div>")
                }
            });
        }

        function DrawActivityChart() {
            var options = {
                maintainAspectRatio: false,
                spanGaps: false,
                elements: {
                    line: {
                        tension: 0.4
                    }
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0
                        }
                    }]
                },
                legend: {
                    display: false
                }
            };

            var ctx = document.getElementById("activity-chart").getContext('2d');
            var activityChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: ["M", "T", "W", "Th", "F", "Sa", "Su"],
                    datasets: [
                        {
                            backgroundColor: "rgba(54, 162, 235, 0.5)",
                            borderColor: "rgb(54, 162, 235)",
                            data: [0, 0, 0, 0, 0, 0, 0],
                            fill: "start"
                        }]
                },
                options: options
            });

            $.getJSON("@Url.Action("GetWeeklyActivity", "Home")", function (activityData) {
                activityChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: activityData.labels,
                        datasets: [
                            {
                                backgroundColor: "rgba(54, 162, 235, 0.5)",
                                borderColor: "rgb(54, 162, 235)",
                                data: activityData.data,
                                fill: "start"
                            }]
                    },
                    options: options
                });
            });
        }

        $(function () {
            OnLoadMoreFeedClick();

            DrawActivityChart();

            @*//doughnut
            var ctxD = document.getElementById("dash-words-states").getContext('2d');
            var myLineChart = new Chart(ctxD, {
                type: 'doughnut',
                data: {
                    labels: ["None", "Mark for delete", "Deleted", "To Verify", "Active"],
                    datasets: [
                        {
                            data: [
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.None],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.MarkForDelete],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.Deleted],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.ToVerify],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.Active]],
                            backgroundColor: ["#949FB1", "#FDB45C", "#F7464A", "#46BFBD", "#00EE76"],
                            hoverBackgroundColor: ["#A8B3C5", "#FFC870", "#FF5A5E", "#5AD3D1", "#00CD66"]
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });*@
        });
    </script>
    }