@model XWordsUrkAdminConsole.Models.DashboardData

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <h1>CrosswordsUkr Admin Console</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Words: @Model.TotalWords</h4>
                    </div>
                    <div class="card-block">
                        <canvas id="dash-words-states" style="width:100%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Clues: @Model.TotalClues</h4>
                    </div>
                    <div class="card-block">
                        <canvas id="dash-clues-states" style="width:100%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Games: @Model.TotalGames</h4>
                    </div>
                    <div class="card-block">
                        <canvas id="dash-games-states" style="width:100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row marg-top-m">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Events</h4>
                            </div>
                            <div class="col-md-10">
                                <button class="btn btn-info btn-md pull-right" style="display:inline-block" onclick="OnNewEventClick();">
                                    <span class="glyphicon glyphicon-plus"></span> New Event
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div id="calendar" style="width:100%"></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" >
        <div style="height:100px; margin-top:5px">
            <canvas id="activity-chart" class="chartjs-render-monitor"></canvas>
        </div>
        <h3>Recent events:</h3>
        <div style="height:90vh; overflow-y:scroll">            
            <div id="recent-events-list" class="list-group">

            </div>
            <button class="btn btn-default center-block" style="position:center" onclick="OnLoadMoreFeedClick();">Load more...</button>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/scripts/chart.js")
    @Scripts.Render("~/scripts/fullcalendar.min.js")
    @Styles.Render("~/content/fullcalendar.css")

    <script type="text/javascript">
        var feedEventsLoaded = 0;
        var feedsEventsToLoad = 20;

        function OnLoadMoreFeedClick() {
            var feed = { count: feedsEventsToLoad, skipFirstN: feedEventsLoaded };

            $.ajax({
                data: JSON.stringify(feed),
                dataType: "html",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("GetEventsFeed", "Home")",
                success: function (htmlData) {
                    $("#recent-events-list").append(htmlData);
                    feedEventsLoaded += feedsEventsToLoad;
                },
                error: function (fData) {
                    $("#recent-events-list").append("<div class=\"panel\"><b>Failed to load feed</b></div>")
                }
            });
        }

        function DrawActivityChart() {
            var options = {
                maintainAspectRatio: false,
                spanGaps: false,
                elements: {
                    line: {
                        tension: 0.4
                    }
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0
                        }
                    }]
                },
                legend: {
                    display: false
                }
            };

            var ctx = document.getElementById("activity-chart").getContext('2d');
            var activityChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: [],
                    datasets: [
                        {
                            backgroundColor: "rgba(54, 162, 235, 0.5)",
                            borderColor: "rgb(54, 162, 235)",
                            data: [],
                            fill: "start"
                        }]
                },
                options: options
            });

            $.getJSON("@Url.Action("GetWeeklyActivity", "Home")", function (activityData) {
                activityChart.data.labels = activityData.labels;
                activityChart.data.datasets[0].data = activityData.data;
                activityChart.update();
            });
        }

        function DrawWordsStatusesChart() {

            var ctxD = document.getElementById("dash-words-states").getContext('2d');
            var myLineChart = new Chart(ctxD, {
                type: 'doughnut',
                data: {
                    labels: ["None", "Mark for delete", "Deleted", "To Verify", "Active"],
                    datasets: [
                        {
                            data: [
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.None],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.MarkForDelete],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.Deleted],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.ToVerify],
                                @Model.WordsStates[XWordsUrkAdminConsole.Models.WordState.Active]],
                            backgroundColor: ["#949FB1", "#FDB45C", "#F7464A", "#46BFBD", "#00EE76"],
                            hoverBackgroundColor: ["#A8B3C5", "#FFC870", "#FF5A5E", "#5AD3D1", "#00CD66"]
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });
        }

        function DrawCluesStatusesChart() {

            var ctxD = document.getElementById("dash-clues-states").getContext('2d');
            var myLineChart = new Chart(ctxD, {
                type: 'doughnut',
                data: {
                    labels: ["New", "Verified", "Rejected"],
                    datasets: [
                        {
                            data: [
                                @Model.CluesStates[XWordsUrkAdminConsole.Models.ClueState.New],
                                @Model.CluesStates[XWordsUrkAdminConsole.Models.ClueState.Verifed],
                                @Model.CluesStates[XWordsUrkAdminConsole.Models.ClueState.Rejected]
                            ],
                            backgroundColor: ["#949FB1", "#00EE76", "#F7464A"],
                            hoverBackgroundColor: ["#A8B3C5", "#00CD66", "#FF5A5E"]
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });
        }

        function DrawGamesStatusesChart() {

            var ctxD = document.getElementById("dash-games-states").getContext('2d');
            var myLineChart = new Chart(ctxD, {
                type: 'doughnut',
                data: {
                    labels: ["New", "Testing", "Rejected", "To Verify", "Live"],
                    datasets: [
                        {
                            data: [
                                @Model.GamesStates[XWordsUrkAdminConsole.Models.GameState.New],
                                @Model.GamesStates[XWordsUrkAdminConsole.Models.GameState.Testing],
                                @Model.GamesStates[XWordsUrkAdminConsole.Models.GameState.Rejected],
                                @Model.GamesStates[XWordsUrkAdminConsole.Models.GameState.ToVerify],
                                @Model.GamesStates[XWordsUrkAdminConsole.Models.GameState.Live]],
                            backgroundColor: ["#949FB1", "#FDB45C", "#F7464A", "#46BFBD", "#00EE76"],
                            hoverBackgroundColor: ["#A8B3C5", "#FFC870", "#FF5A5E", "#5AD3D1", "#00CD66"]
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });
        }

        function InitCalendar() {
            $("#calendar").fullCalendar({
                header: {
                    left: "prev,next today",
                    center: "title"
                },
                defaultView: "month",
                selectable: true,
                editable: true,
                eventLimit: true,
                events: "@Url.Action("GetEvents", "Home")",
                eventClick: function (calEvent, jsEvent, view) {
                    OpenActionInLayoutModal("@Url.Action("EventDetails", "Home")" + "/" + calEvent.id);
                }
            });
        }

        function OnNewEventClick() {
            OpenActionInLayoutModal("@Url.Action("EventDetails", "Home")" + "/-1");
        }

        $(function () {
            OnLoadMoreFeedClick();

            DrawActivityChart();

            DrawWordsStatusesChart();

            DrawCluesStatusesChart();

            DrawGamesStatusesChart();

            InitCalendar();
        });
    </script>
    }