@model XWordsUrkAdminConsole.Models.User


@if (Model != null && !string.IsNullOrEmpty(Model.Login))
{
    if (!string.IsNullOrEmpty(Model.Roles) && Model.Roles.ToLower().Contains("usersadmin"))
    {
        <li><a href="#" onclick="TheTest();"><span class="glyphicon glyphicon-plus"></span></a></li>
    }
    <li><a id="my-user-details-btn" href="#" value="@Model.Id" onclick="OnMyUserDetailsClick();"><b>@Model.Login</b></a></li>
    <li style="border-left:solid;">@Html.ActionLink("Log out", "Logout", "Home")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Home")</li>
}

@Scripts.Render("~/scripts/app/CommonActions.js")

<script type="text/javascript">
    function OnMyUserDetailsClick() {
        ShowProgress();
        var url = "@Url.Action("MyUserDetails","Home")" + "/" + $("#my-user-details-btn").val();
        $.get(url, function (htmlData) {
            $("#layout-modal-dialog").html(htmlData);
            $("#layout-modal").modal("show");
            HideProgress();
        });
    }
</script>