<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CrosswordsUkr Admin Console</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="global-progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100" style="width:100%; height:5px; display:none; position:fixed; z-index: 4000;"></div>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CrosswordsUkr", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Words", "Words", "Admin")</li>
                    <li>@Html.ActionLink("About", "#", "", null, new { id = "AboutBtn" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", null, new { id = "ContactBtn", onclick = "TstClick();" })</li>
                    <li><a href="#" onclick="TstClick()">TST</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{Html.RenderAction("UserMenu", "Home");}
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - CrosswordsUkr Admin Console</p>
            </footer>*@
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/moment")

    <div id="layout-modal" class="modal fade in hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div id="layout-modal-dialog" class="modal-content">
            </div>
        </div>
    </div>

    <script language="text/javascript">
        @*function ShowProgress() {
            $("#global-progress-bar").show();
        }

        function HideProgress() {
            $("#global-progress-bar").hide();
        }

        $(function () {
            $('#AboutBtn').click(function () {
                var url = "@Url.Action("About", "Home")";
                $.get(url, function (htmlData) {
                    $("#layout-modal-dialog").html(htmlData);
                    $("#layout-modal-dialog").modal("show");
                });
            });

            $("body").on("click", "#my-user-details-btn", function () {
                ShowProgress();
                var url = "@Url.Action("MyUserDetails","Home")" + "/" + $("#my-user-details-btn").val();
                $.get(url, function (htmlData) {
                    $("#layout-modal-dialog").html(htmlData);
                    $("#layout-modal-dialog").modal("show");
                    HideProgress();
                });
            });
        });*@

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
